body{
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

li, ul, ol{
  list-style: none;
  margin:0px;
}

.mdl-navigation__link{
  cursor: pointer;
}


.overflow{
  overflow: hidden;
}

.title .text-overflow a{
  color:black;
  text-decoration: none;
}

.container{
  background-color: inherit;
}

.row{
  margin: 0px 2%;
}

.mainContent{
  display:block;
  background-color: #fff;
  font-family: 'Lobster', cursive;
  font-style: italic;
  margin-top: 20px;
}

.boxTitle{
  padding-top:10px;
  padding-bottom:10px;
  display:inline-block;
  width:100%;
  color:black;
  font-size:30px;
}

.m-0{
  float:left;
  margin-left: 16px;
}

.outline{
  width:150px;
  height:1px;
  background-color: #33B0FF;
  margin-left: 16px;
}

.clearfix{
  padding:0;
  margin-right: 16px;
  white-space: nowrap;
  overflow-x:auto;
  overflow-y: hidden;
}

.clearfix .mdl-grid{
  display: inline-flex;
}

.clearfix::-webkit-scrollbar {
  width: 0 !important
}

.text-overflow{

}

.musicPlayerContainer{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  color: #9e9e9e;
  background-color: #33B0FF;
  display: none;
}

.demo-card-image.mdl-card {
  width: 150px;
  height: 150px;
  background: center / cover;
}

.demo-card-image > .mdl-card__title{
  justify-content: center;
}

.mdl-card__title > .mdl-button{
  height:70px;
  width:70px;
}

.mdl-card__title > .mdl-button > i{
  font-size: 50px;
}

.mdl-card__actions {
  height: 52px;
  padding: 16px;
}

.demo-card-image__filename {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.mdl-card{
  border-radius: 8px;
  min-height: 150px;
  overflow: visible;
}

.title-name{
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:150px;
  font-size: 15px;
}

.white{
  color:white;
}

.container-song-picture{
  width:20%;
  height:100%;
  background-color: red;
  background: url('../image/Chinese/A-Lin-有一种悲伤.jpg') center / cover;
}

.container-song-details{
  width: 60%;
  color:white;
  padding: 6px 0px 6px 6px;
}


.container-function-buttons div{
  display: inline-block;
  padding-top: 8px;
  color:white;
}

.container-play-button i{
  color:white;
}

.container-button{
  box-shadow: none;
  background: rgb(0,0,0,0);
  padding:0;
  width: 35px;
  height:35px;
  display: grid;
  min-width: 30px;
  border-radius: 50%;
  color:white;
}

.container-split{
  display: inline-block;
  width:80%;
}
.container-split-top{
  height:5px;
  width:100%;
  background: linear-gradient(90deg, #33E2FF 50%, grey 50%)
}

.container-split-bottom{
  display:flex;
}

.mdl-layout__header{
  z-index: 6;
}

.multi-fx-btn{
  position:fixed;
  right: 25px;
  bottom: 15px;
  z-index: 2;
}

.queueTable{
  display: block;
  position: fixed;
  background-color: white;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

#queueList{
  top: 56px;
  left: 0;
  margin-right: 0;
  bottom: 110px;
  margin-bottom: 0;
  width: 100%;
  height:calc(100% - 140px);
  background-color: white;
  border-radius: 3px;
  z-index: 1!important;
  transition: width 0.3s ease;
  transform-origin: right bottom;
}

#queueList::after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  right: 48px;
  border: 8px solid white;
  z-index: -1;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  box-shadow: -12px 12px 15px 0px rgba(0,0,0,.24);
  bottom: -15px;
}

.transform-in{
  transition: all 0.3s ease;
  transform: rotate(-90deg);
}

.transform-out{
  transition: all 0.3s ease;
}

.active{
  animation: scale-display .3s;
}

.out{
  animation: scale-display--reversed .3s;
	animation-fill-mode:forwards;
}

@keyframes scale-display {
	0% {
		opacity: 0;
		transform: scale(0);
    -webkit-transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
    -webkit-transform: scale(1);
	}
}

@keyframes scale-display--reversed {
	0% {
		display: inline-flex;
		opacity: 1;
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	99% {
		display: inline-flex;
		opacity: 0;
		transform: scale(0);
		-webkit-transform: scale(0);
	}
	100% {
		display: none;
		opacity: 0;
		transform: scale(0);
		-webkit-transform: scale(0);
	}
}
